body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .post {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px;
    border-radius: 10px;
  }
  
  .title {
    display: flex;
    height: 70px;
  }

.perfil{
    width: 15%;
    height: 100%;
  }
  .perfil svg{
    height: 80%;
    padding: 10%;
  }

  .nombre {
    display: flex;
    flex-direction: column;
    width: 77%;
  }

  .nombre b{
    padding-top: 13px;
    font-size: small;
  }

  .nombre p{
    margin-top: 8px;
    font-size: small;
  }

  .opciones{
    width: 8%;  
  }

  .opciones svg{
    height: 50%;
    padding-top: 40%;
  }
  
  img {
    width: 100%;
  }
  
  .footer {
    padding: 5px;
  }
  
  .interacciones {
    display: flex;
    flex-direction: row;
    height: 40px;
  }
  
  .interacciones svg {
    height: 100%;
    
  }

  .interacciones div {
    padding-left: 5px;
  }

  .interacciones .guardar svg {
    height: 100%;
  } 

  .guardar{
    width: -webkit-fill-available;
    display: flex;
    justify-content: end;
    padding-right: 5px;
  }

